.heroimg{
    width: 1146px;
    height: 921px;
    position: relative;
}
.herotext{
    position: absolute;
    top:50%;
    /* bottom: 70px; */
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    display: flex;
    justify-content: space-between
}
.heroli{
    position: absolute;
    bottom: 75%;
}